/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////// ALL SCREENS  //////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
#main {
    width:100%;
    height: auto;
    overflow: hidden;
    background-color: #1a1c1e;
    padding-top: 1em;
    padding-bottom:0em;
}
#landing {  
    /* width: auto; */
    padding: 5em 0;
    text-align: center;
    color: whitesmoke;
    position: relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    text-transform: uppercase;
}

#footer {  
    padding: 5em 0 9em 0;
    text-align: center;
    color: whitesmoke;
    position: relative;
    text-transform: uppercase;
}

#footer h3 {
    font-size: 1.5em;
    line-height: 2;
    font-weight: 100;
    width: auto;
    letter-spacing: .25em;
    position: relative;
}

#landing h1 {
    font-size: 6.5em;
    line-height: 1;
    font-weight: 900;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: .02em;
    position: relative;
}

#landing h2 {
    font-size: 1.5em;
    line-height: 1;
    font-weight: 100;
    width: auto;
    font-style: italic;
    letter-spacing: .25em;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#landing .bar {
    width:65%;
    height: 1px;
    background-color: white;
    margin: 0 auto 1em auto;
}

:root {
    --creative: rgb(144, 255, 159);
    --programming: rgb(117, 216, 255);
    --fabrication: rgb(255, 169, 112);
    --electronics: rgb(145, 115, 255); 
}


.label {
    background-color: var(--creative);
    width: auto;
    position: absolute;
    height: auto;
    padding: 0.7em 1.8em;
    border-radius: .5em;
    /* box-shadow: 0px 0px 15px 2px #aaaaaa77; */
    left: 1em;  
    z-index: 4;
    /* border: 1px solid black; */
    color: white;
    font-weight: 900;
}

#electronics {
    color: var(--electronics);
    border-color: var(--electronics);
    background-color: var(--electronics);
}
#creative {
    color: var(--creative);
    border-color: var(--creative);
    background-color: var(--creative);
}
#fabrication {
    color: var(--fabrication);
    border-color: var(--fabrication);
    background-color: var(--fabrication);
}
#programming {
    color: var(--programming);
    border-color: var(--programming);
    background-color: var(--programming);
    
}

.taskbar {
    
    /* background-color: whitesmoke; */
    padding: 1em 0;
}

.filter {
    font-size: 1.1em;
    text-align: center;
    line-height: 1;
    height: auto;
    padding: 1em 0;
    border-radius: .5em;
    box-shadow: 0px 0px 25px 4px #0007;
    border: 1px solid;
    cursor: pointer;
    /* border: 1px solid black; */    
    font-weight: 900;
    margin-bottom: 1.5em;
    text-shadow: 0px 0px 5px #0007;
    
}

.filter:hover {
    text-decoration: underline;
    box-shadow: 0px 0px 12px 1px #000a;
    margin-top: .1em;
    margin-bottom: 1.4em;
}

.filter.unselected {
    background-color: transparent !important;
}

.filter.selected {
    color: white !important;
}
.taskbar h3 {
    color: whitesmoke;
    font-size: 1.8em;
    text-align: center;
    width: 100%;
    padding: .75em;
    
}
/* /////////////////////////////////////////////////////////////////////////////////////// */

.project {
    padding: 0;
    border-radius: 2em;
    position: relative;
    overflow: hidden;
    position: relative;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    box-shadow: 0em 0em 1.5em .25em #000d;
    /* padding-top: 3em; */
    /* padding-top: 4.5em; */
    /* padding-bottom: 2.5em; */
    margin-top: .5em;
    margin-bottom: 4em;
} 
.project .labels {
    position: absolute;
} 
.project .expand-area {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0.5em 0;
    opacity: 0;

} 
.collapser {
    width:100%;
    position: relative;
}
.project .collapse-area {
    overflow: hidden;
    width: 96%;
    margin: auto;
    position: relative;
    /* padding: 2em 0em 1em 0em; */
    height: auto;
    overflow: hidden;
    margin-top: 2.5em;
    margin-bottom: 2em;
}
.project .collapse-area .title {
    font-weight: 900;
    font-size: 2.2em;
    line-height: 1.3;
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 0.em 0;
    text-align: left;
}
.project .collapse-area .description {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.3;
    /* margin-top: .2em; */
    text-align: left;
    margin-bottom: .2em;
    
}

.project .collapse-area .dates {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.3;
    margin-top: .5em;
    text-align: left;
    margin-bottom: .2em;
    
}
.project .expand-btn, .project .collapse-btn  {
    height: 3em;
    font-size: .9em;
    overflow: hidden;
    bottom: 0;
    line-height: 3em;
    width: auto;
    box-shadow: 0 0 0.25em 0em #5555;

    /* right: 50%;
    position: absolute;
 '   transform: translateX(50%); */
}

.project .expand-btn p , .project .collapse-btn p {
    font-weight: 400;
}
.project .collapse-btn {
    padding: 0 6.5em;
    /* margin: 0 2em; */
}
.project .expand-btn {
    padding: 0 4em;
    /* margin: 0 2em; */
}
.project .metadata {
    /* margin: 1.5em 0; */
    width: 100%;
    height: auto;
    position: relative;
    top:0; left: 0;
}
/* .project .metadata::before {
    position: relative;
} */
.project .metadata {
    /* margin: 1.5em 0; */
    width: 100%;
    height: auto;
    position: relative;
    top:0; left: 0%;
}

.project .metadata .data {
    /* border-radius: .4em; */
    line-height: 2;
    height: auto;
    font-size: 1.1em;
    text-align: center;
    text-shadow: 0px 0px 0.2em #2229;
    font-weight: 400;
    /* text-transform: uppercase; */
}
/* .project .metadata .data:hover {
    background-color: white;
    box-shadow: 0px 0px .75 .1em #ccc9;
} */


.project .metadata .dates {
    color:white;
    background-color: #6c757d ;
}
.project .metadata .status-active {
    color:white;
    background-color:rgb(255, 20, 31);
}
.project .metadata .status-inactive {
    color:white;
    background-color: #ffc107;
}
.project .metadata .status-archived {
    color:white;
    /* background-color:#198754; */
    background-color: #19bf8d;
}
.project .metadata .progress-concept {
    color:white;
    background-color:rgb(245, 139, 222);
}
.project .metadata .progress-in-progress {
    color:white;
    background-color:rgb(174, 99, 235);
}
.project .metadata .progress-functional {
    color:white;
    /* background-color:#198754 ; */
    background-color: rgb(0, 180, 240);
}
.project .metadata .progress-complete {
    color:white;
    background-color:#0d6efd ;
}


.project .metadata_hint {
    height: 1em;
    
}

.project .button-container {
    position: relative;
    height: 3.5em;
    /* margin-top: .5em; */
    margin-top: 1.5em;
}


.project .summary {
    /* padding-left: 1.5em; */
    overflow: hidden;
    position: relative;
    padding-top: .5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: .9em;
    padding-bottom: .75em;
}
.project .summary h3 {
    text-align: center;
    line-height: 1;
    font-weight: 900;
    font-size: 1.4em;
    /* text-decoration: underline; */
}
.project .summary ul {
    float:left;
    width: 100%;
    /* font-size: .9em; */
    font-size: .975em;
    list-style-type:circle; 
    /* list-style: none; */
    height: auto;
    /* margin: 0.05em 0 0.15em 0; */
    padding-left: 1.5em;
}
.project .summary li {
    font-size: 1em;
    float:left;
    width: 100%;
    height: auto;
    /* margin-left: 1.4em; */
    line-height: 1.2;
    margin: 0.2em 0;
}

.project .btn#c2a {
    width: auto;
    height: auto;
    font-size: 1em;
    padding: 0;
    margin: 1.5em 0 3em 0;
}

.project .btn#c2a a {    
    padding: .55em 5em;
    display: block;
    box-shadow: 0 0 0.5em 0em #3335;
    margin: 0;
}



.expand-area .secondary-collapse-btn
{
    background-color: transparent;
    height: auto;
    text-align: center;
    position: relative;
}
.expand-area .secondary-collapse-btn .txt-box
{
    line-height: 1.5em;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 0 0.1em 1px 0.1em;
}

.expand-area .secondary-collapse-btn .txt-box .bg
{
    display: inline-block;
    position: absolute;
    background-color: transparent;
    opacity: 1;
    /* left:0; top: 0; */
    width: 0;
    height:100%;
    text-align: center;
    content: '';
    padding-bottom: 1px;
    /* display: none; */
    border-bottom: 1px solid black;
}

/* .expand-area .secondary-collapse-btn .txt-box:hover {
    padding-bottom: 0px; 
    border-bottom: 1px solid black; 
} */


/*
.project .gallery .btn.visible#fs:hover {
   opacity: 1;
}


.project .gallery .btn#fs {
    top: 1em;
    padding: .7em 4em;
    z-index: 3;
    opacity: 0.85;
    box-shadow: 0px 0px 25px 1px #55555599;
    font-size: .8em;
}
*/


/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////// XX-LARGE SCREENS ONLY ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 3200px) {
    #landing .bar {
        width:65%;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// X-LARGE SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 3199px) {
    #landing .bar {
        width:65%;
    }
}


/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////// LARGE SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 1999px) {
    #landing .bar {
        width:77%;
    }
    .project .gallery {
        height: 30em !important;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// MEDIUM SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 1499px) {
    .project .gallery {
        height: 22em !important;
    }
    #landing {
        padding: 3em 5% 2em 5%;
    }
    #landing h1 {
        font-size: 5.5em;
        letter-spacing: .025em;
    }
    #landing .bar {
        width: 92%;
        margin: .5em auto .5em auto;

    }
    #landing h2 {
        font-size: 1.3em;
        line-height: 1.3;
        letter-spacing: .25em;
    }
    .project .summary {
        /* margin-left: -1.5em; */
        padding-left: 0em;
    }
    .project .summary h3 {
        text-align: center;
    } 
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////// SMALL SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 1099px) {
    #landing {
        padding: 3em 5% 2em 5%;
    }
    #landing h1 {
        font-size: 4.4em;
        letter-spacing: .03em;
    }
    #landing .bar {
        width: 97%;
        margin: .5em auto .5em auto;

    }
    #landing h2 {
        font-size: 1.2em;
        line-height: 1.3;
        letter-spacing: .2em;
    }


}


/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// X-SMALL SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 699px) {
    
    .project .btn#c2a {
        margin: 1.5em 0 .5em 0;
    }
    .project .btn#c2a a {    
        padding: .55em 3em;
    }
    .project {
        /* padding-top: 2em; */
        padding-bottom: 2.4em;
    }
    .project .collapse-area h3 {
        font-size: 1.7em;
    }
    .project .collapse-area h4 {
        font-size: 1.4em;
        line-height: 1.25;
    }
    .project .summary{
        padding: 1.5em 0 0 0;
    }
    .project .gallery {
        /* width: 100%; */
        margin-right: 0em;
    }
    
    #landing {
        padding: 3em 0% 2em 0%;
    }
    #landing h1 {
        font-size: 2.5em;
        letter-spacing: .025em;
    }
    #landing .bar {
        width: 92%;
        margin: .5em auto .5em auto;

    }
    #landing h2 {
        font-size: 1.3em;
        line-height: 1.3;
        letter-spacing: .2em;
    }
    
}



