* {
    padding: 0;
    margin:0;
    font-family: roboto;
    font-weight: 300;
}   
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
a:link, a:visited, a:hover, a:active, nav li:hover  {
    text-decoration: none;
    color:inherit;
}


/* ////// // Font size breakpoints // ////// */
/* Used for making em and rem units responsive across all screen sizes  */ 
@media all and (max-width: 699px) {  /* /////////// XS /////////// */
    html { font-size: 16px; }
}
@media all and (min-width: 700px) {  /* /////////// SM /////////// */
    html { font-size: 16px; }
}
@media all and (min-width: 1100px) {  /* /////////// SM /////////// */
    html { font-size: 18px; }
}
@media all and (min-width: 1500px) {  /* /////////// SM /////////// */
    html { font-size: 20px; }
}
@media all and (min-width: 2000px) {  /* /////////// SM /////////// */
    html { font-size:22px; }
}
@media all and (min-width: 3200px) {  /* /////////// SM /////////// */
    html { font-size: 36px; }
}

/* ////// // Commom utility classes // ////// */
/* Center this element horizontally */
.h-center {
    left:50%;
    transform: translateX(-50%);
    position: relative;
}
/* Center this element vertically */
.v-center {
    top:50%;
    transform: translateY(-50%);
    position: relative;
}
/* Center this element both horizontally and vertically */
.center {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: relative;
}
/* Center this element horizontally, but with absolute positioning */
.h-center-a {
    left:50%;
    transform: translateX(-50%);
    position: absolute;
}
/* Center this element vertically, but with absolute positioning */
.v-center-a {
    top:50%;
    transform: translateY(-50%);
    position: absolute;
}
/* Center this element both horizontally and vertically, but with absolute positioning */
.center-a {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
/* Center this element horizontally, but with fixed positioning */
.h-center-f {
    left:50%;
    transform: translateX(-50%);
    position: fixed;
}
/* Center this element vertically, but with fixed positioning */
.v-center-f {
    top:50%;
    transform: translateY(-50%);
    position: fixed;
}
/* Center this element both horizontally and vertically, but with fixed positioning */
.center-f {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: fixed;
}